body {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.nav a li {
  color: white;
font-family: arial;
font-weight: 600;
font-size: 12px;
margin-right: 15px;
display: inline-block;
vertical-align: center;
}
.nav {
margin: 0;
text-align: left;
vertical-align: center;
}
#top {
background-color: #2c3e50;
height: auto;
}
#Homeimage {
height: 60px;
width: 60px;
padding-left: 40px;
display: block;
text-align: left;
}
